$color-orange: #f4812b;
$color-light-gray: #7394a6;
$color-green: #16967e;
$color-gray: #f4f4f4;

// flare
$text-font: Open Sans;
$text-selection-color: $color-green;
$headers-default-margin: 0;
$headers-default-font: $text-font;
